.page {
  min-height: 125vh;
  background-image: url(./images/women_empowered.jpg);
  background-size: cover;
}
.containers {
  text-align: center;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid;
  width: 420px;
  align-items: center;
  height: 100%;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}
.containers:hover {
  background-color: rgb(248, 58, 58);
  opacity: 0.8;
}
